# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

lint_output_utf8.txt
error.txt
db.json
lint_output.txt
error*.txt

# IDE Planning and scratch files
implementation_plan.md
task.md
walkthrough.md
scratch/
public/43925b20-59be-4422-893e-2d81cfcfb4cf.jpg

